[submodule "site-lisp/emacs-flymake"]
	path = site-lisp/emacs-flymake
	url = git@github.com:topher200/emacs-flymake.git
[submodule "site-lisp/emacs-flymake-cursor"]
	path = site-lisp/emacs-flymake-cursor
	url = https://github.com/illusori/emacs-flymake-cursor.git
